<!-- <input type="text" [(ngModel)]="name">
<p>{{name}}</p>
<button class="btn btn-primary" (click)="click()">Add Server</button>
<input type="text" [(ngModel)]="dataPassed">
<input type="text" [(ngModel)]="username">
<p>{{username}}</p>
<button class="btn btn-primary" [disabled]="username == ''" (click)="clickReset()">Click</button>
<span>{{dataPassed}}</span>
<app-servers></app-servers>

<hr>

<button class="btn btn-primary" (click)="clickBUtton()">
  Display
</button>
<p *ngIf="button">Lorem ipsum dolor sit amet.</p>
<p *ngFor="let ceva of event">{{ceva}}</p> -->

<app-book-list></app-book-list>